/* /* Header */
body{margin:0;}
 .large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	
	background-position: center center;
	z-index: 1;
} 

 #myName {
	position: absolute;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	font-family: 'Anton', sans-serif;
	font-size: 5em;
}
 #jobTitle{
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 60%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	font-family: 'Anton', sans-serif;
	font-size: 2em;
	
} 
.navBar{
	background-color: white;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Anton', sans-serif;
	position:sticky;	
	
	box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);

}

  
 
.buton{
	font-size: 1.4em;
	border: 0px;
	background-color:white;
	color:black;
	font-family: 'Anton', sans-serif;
	
}
#aboutMe{
	padding-left: 5%;
    border-radius: 10px;
	font-family: 'Poppins', sans-serif;
    height: auto;
	padding: 20px;
	display: block;    
}
#mj{
	width: 250px;
	border-radius:10px;	
	
}
#aboutme,.projects,.contact{	
	text-align: center;
	color: black;
	
}
p,a,span{
	position: relative;	
	color: black;
	text-align: center;
	font-size:1.2em;
	text-decoration: none;
}
#works{
	padding-top: 5%;
	font-family: sans-serif;
	
}
.skills{
	padding-top: 5%;
	text-align: center;	
	font-family: 'Poppins', sans-serif;
}
li{
	font-size:1.2em;
}
.imgs{
	width: 50px;
}
#mailImg,#phone{
	width:30px;
	text-align: start
}
footer{
	text-align: center

}
.navbar-fixed {
	top: 0;
	z-index: 100;
	position: fixed;
	width: 100%;
  }
.pointer{
	cursor: pointer;
}
.logo {
	position: relative;
  margin-left: 10px;
}
.logo img {
  width: 60px;
  
}
#QRCode{
	width: 100px;
	height: 100px;
}